<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="stylesheet" href="../mystyle/design.css">
    <script src="../myscript/allwatch.js"></script>
    <script src="../myscript/mywatch.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    

</head>
<body>
<div class="page">

    <img src="../images/logo.jpg" width="160px"></img>
    <h1>WATCH</h1>
    
   <a href="../component/login.html"> <button id="login" class="btn btn-success" style="width: 80px;height: 40px;">Login</button></a>
  
        
  
        
 
</div>
<div class="product">
  
  <img src="../images/wa.jpg" style="width: 1170px;height: 420px;"></img>
  <a href="../component/cart.html"><button style="height: 40px;width: 140px;" id="showme"  class="btn btn-primary">Show Watch</button></a>
</div>
</body>
</html>