<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../mystyle/design.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="h1">
    <img src="../images/watches-banner.jpg" style="width: 1250px;height: 150px;">
    <div class="cart">
        <div class="counter">
            0
        </div>
            <i style="font-size: 40px;" class="bi bi-cart4"></i>
        </div>
    </div>
    
    
    </div>
    <div class="all">
        
    <div class="wt">
        <img src="../images/titan.jpg" style="width: 300px;height: 300px;">
       <h5 style="font-family: 'Times New Roman', Times, serif;">Titen Watch Rs.30k</h5>
       <span button style="width: 60px;height: 40px;" class="btn btn-success" id="Buy">Buy</button>
       <button style="width: 70px;height: 40px;" class="btn btn-danger" id="Cancel">Cancel</button>
    </span></div>
    
    <div class="wt1">
       <img src="../images/omega.jpg" style="width: 300px;height: 300px;">
       <h5 style="font-family: 'Times New Roman', Times, serif;">Omega Watch Rs.50k</h5>
       <span button style="width: 60px;height: 40px;" class="btn btn-success" id="Buy">Buy</button>
       <button style="width: 70px;height: 40px;" class="btn btn-danger" id="Cancel">Cancel</button>
    </div>
    
    <div class="wt2">
       <img src="../images/rolex.jpg" style="width: 300px;height: 300px;">
       <h5 style="font-family: 'Times New Roman', Times, serif;">Rolex Watch Rs.20k</h5>
       <span button style="width: 60px;height: 40px;" class="btn btn-success" id="Buy">Buy</button>
       <button style="width: 70px;height: 40px;" class="btn btn-danger" id="Cancel">Cancel</button>
    </div>
</div>
</body>
</html>