<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../mystyle/design.css">
    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/bootstrap-icons/font/bootstrap-icons.css">
</head>
<body>
    <div class="sign">
        <h2 style="font-style: normal;font-family: 'Times New Roman', Times, serif;">Login Page</h2>

    <input id="Email" type="text" placeholder="Enter Username">Email
    <input id="Password" type="text" aria-placeholder="Password">Password
    <button class="btn btn-primary" id="login">Login</button>
    
</div>
</body>
</html>